<div class="scrollable">  
	<div class="scrollable-content">

		<div class="list-group-item list-group-item-home">

			<!-- FORM -->
			<form ng-submit="processForm()">

				<button type="button" class="btn" ng-click="autofillCoffee()">
					<span class="glyphicon"></span> autofill
				</button>

				<!-- Brand -->
				<div id="name-group" class="form-group">
					<label>Brand</label>
					<input type="text" required name="brand" class="form-control" placeholder="{{coffeeModel.brand}}" ng-model="formData.brand">
					<span class="help-block"></span>
				</div>


				<!-- Type -->
				<div id="type-group" class="form-group">
					<label>Type</label>
					<input type="text" required name="type" class="form-control" placeholder="{{coffeeModel.type}}" ng-model="formData.type">
					<span class="help-block"></span>
				</div>



				<!-- Description -->
				<div id="description-group" class="form-group">
					<label>Description</label>
					<input type="text" required name="description" class="form-control" placeholder="Soft" ng-model="formData.description">
					<span class="help-block"></span>
				</div>


				<!-- Price -->
				<div id="price-group" class="form-group">
					<label>Price €</label>
					<input type="text" required name="price" class="form-control" placeholder="{{coffeeModel.price | currency:'€' }}" ng-model="formData.price">
					<span class="help-block"></span>
				</div>



				<!-- coffeeAmount -->
				<div id="coffeeAmount-group" class="form-group">
					<label>Amount</label>
					<input type="text" required name="coffeeAmount" class="form-control" placeholder="{{coffeeModel.coffeeAmount}}" ng-model="formData.coffeeAmount">
					<span class="help-block"></span>
				</div>



				<!-- SUBMIT BUTTON -->
				<button type="submit" class="btn btn-success btn-lg btn-block">
					<span class="glyphicon glyphicon-flash"></span> Submit!
				</button>
			</form>

		</div>

	</div>
</div>
